.navbar{
  width: 100%;
  height: 70px;
  top:0;
  z-index: 1;
  background-color: black; 
  padding: 0; 
  position: fixed;
  overflow: hidden;
 
}

.nav-menu{
  list-style: none;
  top: 0;
  margin: 0;
  padding:0;
  display: inline;
 height: inherit;
}

.nav {

  float: right;
  padding: 8px 140px 0px 0px;
}
.logo{
  float:left;
  padding: 8px 0px 0px 140px;
}
a{
 text-align: center;
  font-family: 'Furore', sans-serif;
  font-size: 36px;
  color: #efff0c;
  text-decoration: none;

}

body {
  margin: 0;
  padding: 0;
  background: black;
}
.container-fluid {
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}
.row .column {
  flex: 33.3%;
  width: auto;
  overflow: hidden;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}
.row .column img {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: grayscale(1);
  transition: 0.3s linear;
}
.row .column img:hover {
  filter: grayscale(0);
}
h1 {
  -webkit-text-stroke: 2px #efff0c;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 70px;
  color: black;
  font-weight: 900;
  margin: 0;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 800px) {
  .row .column {
    flex: 50%;
  }
}
@media only screen and (max-width: 680px) {
  .row .column {
    flex: 100%;
  }
  .row .column img {
    filter: grayscale(0);
  }
}

/*FOOTER*/
footer{
  background-color: rgba(240, 240, 240, 0.089);
 
 }
 
 ul.footer-text {
   list-style: none;
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin: 0;
   padding: 56px 140px 0 140px;
   height: 130px;
 }
 .footer-text li{
 
   font-family: "Lato", sans-serif;
   font-size: 16px;
   color: rgb(202, 202, 202);
 }
