body,
header {
  margin: 0;
}

.navbar {
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 1;
  background-color: #c2a7f2;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

.nav-menu {
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
  display: inline;
  height: inherit;
}

.nav {
  float: right;
  padding: 8px 140px 0px 0px;
}
.logo {
  float: left;
  padding: 8px 0px 0px 140px;
}
a {
  text-align: center;
  font-family: "Furore", sans-serif;
  font-size: 36px;
  color: #ffff;
  text-decoration: none;
}

h1 {
  margin-top: 100px;

  font-size: 120px;
  color: white;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 70px;
  margin: 0;
}

h2 {
  font-family: "Lato", sans-serif;
  color: #965afc;
  width: 700;
  font-size: 50px;
  padding-bottom: 100px;
  margin: 0;
}
h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
li {
  list-style-type: none;
  padding-bottom: 40px;
}

.space {
  padding-top: 70px;
}
.white-text {
  color: white;
}
.purple-text {
  color: #965afc;
}

.row-line {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

#Projekt {
  margin: 0px;
  padding-bottom: 0px;
}

.purple-bg {
  background-color: #965afc;
}
.purple-box {
  background-color: #965afc;
  border: solid 1px #965afc;
  border-radius: 16px;
  width: 620px;
  width: 620px;
  height: 679px;
}

.light-box {
  background-color: #f2ebff;
  border: solid #965afc 1px;
  border-radius: 16px;
  margin-left: 80px;
  padding-left: 110px;
  padding-right: 120px;
  width: 620px;
  height: 679px;
}

.freeblock {
  height: 100px;
}

section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.video-container video {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  z-index: 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.col {
  padding: 0;
  margin: 0;
}
.img {
  padding: 0;
  margin: 0;
}
/*BACK BUTTON*/
.back-button {
  text-decoration: none;
  color: #d5bcff;
  padding: 30px;
  border: 2px solid #d5bcff;
  text-align: center;
}
.button-center {
  text-align: center;
  margin-top: 100xp;
  margin-bottom: 150px;
}

.back-button:hover {
  color: #ffffff;
  background-color: #c2a7f2;
}

/*FOOTER*/
footer {
  background-color: #8c5adf;
}

ul.footer-text {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 56px 140px 0 140px;
  height: 130px;
}
.footer-text li {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: rgb(243, 243, 243);
}
