header {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}
.header-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 5px 65px 0px 40px;
  text-decoration: none;
  text-align: center;

}
ul {
  margin: 0;
  padding: 0;
}
.nav{
  float: right;
  font-family: 'Furore', sans-serif;
  font-size: 40px;


}
.nav-container{
background-color: black;
height: 60px;
width: 100vw;
position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
body {
  background-color: #efff0c;
}


.container {
  right: 0;
  height: 100%;
  width: 65vw;
  padding: 140px 140px 140px 140px;
  margin: 0;
  background-color: black;
}
.img {
  width: 100%;
  filter: grayscale(100);
  transition: 0.2s;
}

.image-hover {
  filter: grayscale(0);
}

h1 {
  -webkit-text-stroke: 2px black;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color: #efff0c;
  font-weight: 900;
  margin: 0;
  text-align: left;
  padding-top: 140px;
  padding-left: 140px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: black;
  margin: 0;
  text-align: left;
  padding-top: 110px;
  padding-left: 140px;
}
.button {
 
  width: 90px;
}

.button-hover {
  cursor: pointer;
  transition: 0.2s;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: center center;
}

.button.active,
.img.active {
  opacity: 0.3;
}
.container-fluid{
  padding: 0;
}
#hey-around-array{
  margin-top: 350px;
}
#lost-array{
  margin-top:280px;
}
#regiofair-array{
  margin-top:280px;
}
#disconnected-array{
  margin-top:355px;
}

