header {
  height: 100vh;
}
body {
  background-color: #efff0c;
}
section.container {
  padding: 150px 0 150px 0;
}

.bg-color {
  background-color: black;
}
.container {
  left: 0;
  height: 100%;
  width: 65vw;
  padding: 150px 150px 150px 150px;
}
.img {
  width: 100%;

  filter: grayscale(100);
  transition: 0.2s;
}

.image-hover {
  filter: grayscale(0);
}

h1 {
  -webkit-text-stroke: 2px black;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color: #efff0c;
  font-weight: 900;
  margin: 0;
  text-align: left;
  padding-top: 150px;
  padding-left: 150px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: black;
  margin: 0;
  text-align: left;
  padding-top: 100px;
  padding-left: 150px;
}
.button {
  margin-top: 357px;
  width: 90px;
}

.button-hover {
  cursor: pointer;
  transition: 0.2s;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: center center;
}

.button.active,
.img.active {
  opacity: 0.3;
}
